In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df= pd.read_csv("baseball.csv")

In [3]:
df.head()

,W,R,AB,H,2B,3B,HR,BB,SO,SB,RA,ER,ERA,CG,SHO,SV,E
0,95,724,5575,1497,300,42,139,383,973,104,641,601,3.73,2,8,56,88
1,83,696,5467,1349,277,44,156,439,1264,70,700,653,4.07,2,12,45,86
2,81,669,5439,1395,303,29,141,533,1157,86,640,584,3.67,11,10,38,79
3,76,622,5533,1381,260,27,136,404,1231,68,701,643,3.98,7,9,37,101
4,74,689,5605,1515,289,49,151,455,1259,83,803,746,4.64,7,12,35,86

# checking null values in the dataframe

In [4]:
df.isnull().sum()

W      0
R      0
AB     0
H      0
2B     0
3B     0
HR     0
BB     0
SO     0
SB     0
RA     0
ER     0
ERA    0
CG     0
SHO    0
SV     0
E      0
dtype: int64

In [5]:
df.columns

Index(['W', 'R', 'AB', 'H', '2B', '3B', 'HR', 'BB', 'SO', 'SB', 'RA', 'ER',
       'ERA', 'CG', 'SHO', 'SV', 'E'],
      dtype='object')

In [6]:
df.dtypes

W        int64
R        int64
AB       int64
H        int64
2B       int64
3B       int64
HR       int64
BB       int64
SO       int64
SB       int64
RA       int64
ER       int64
ERA    float64
CG       int64
SHO      int64
SV       int64
E        int64
dtype: object

In [7]:
df.shape

(30, 17)

In [8]:
df.describe()

,W,R,AB,H,2B,3B,HR,BB,SO,SB,RA,ER,ERA,CG,SHO,SV,E
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.00000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,80.966667,688.233333,5516.266667,1403.533333,274.733333,31.300000,163.633333,469.100000,1248.20000,83.500000,688.233333,635.833333,3.956333,3.466667,11.300000,43.066667,94.333333
std,10.453455,58.761754,70.467372,57.140923,18.095405,10.452355,31.823309,57.053725,103.75947,22.815225,72.108005,70.140786,0.454089,2.763473,4.120177,7.869335,13.958889
min,63.000000,573.000000,5385.000000,1324.000000,236.000000,13.000000,100.000000,375.000000,973.00000,44.000000,525.000000,478.000000,2.940000,0.000000,4.000000,28.000000,75.000000
25%,74.000000,651.250000,5464.000000,1363.000000,262.250000,23.000000,140.250000,428.250000,1157.50000,69.000000,636.250000,587.250000,3.682500,1.000000,9.000000,37.250000,86.000000
50%,81.000000,689.000000,5510.000000,1382.500000,275.500000,31.000000,158.500000,473.000000,1261.50000,83.500000,695.500000,644.500000,4.025000,3.000000,12.000000,42.000000,91.000000
75%,87.750000,718.250000,5570.000000,1451.500000,288.750000,39.000000,177.000000,501.250000,1311.50000,96.500000,732.500000,679.250000,4.220000,5.750000,13.000000,46.750000,96.750000
max,100.000000,891.000000,5649.000000,1515.000000,308.000000,49.000000,232.000000,570.000000,1518.00000,134.000000,844.000000,799.000000,5.040000,11.000000,21.000000,62.000000,126.000000

# Visualization of the data

In [ ]:
sns.pairplot(df)

In [ ]:
df.boxplot(figsize=[20,8])
plt.subplots_adjust(bottom=0.25)
plt.show()

In [ ]:
df[["R"]].boxplot()
plt.show()

In [ ]:
df[["SHO","SV","E"]].boxplot()
plt.show()

In [ ]:
cor=df.corr()

In [ ]:
plt.figure(figsize=(15,7))
sns.heatmap(df.corr(),annot=True)

# Remove outlier

In [ ]:
import numpy as np
from scipy.stats import zscore
z=np.abs(zscore(df))
new_df=df[(z<3).all(axis=1)]

In [ ]:
new_df.shape

In [ ]:
df.shape

In [ ]:
(1/30)*100 #  lets get percentage of data loss

In [ ]:
df.skew()

In [ ]:
from sklearn.preprocessing import power_transform
df_new =power_transform(df)
df_new= pd.DataFrame(df_new)

In [ ]:
df_new.skew()

In [ ]:
# lets convert ERA into int
df["ERA"] = df["ERA"].astype(int)

In [ ]:
df.info()

In [ ]:
plt.scatter(df['R'],df['AB'],alpha=0.2,c=(0,0,0),edgecolor='g')
plt.title('R vs AB')
plt.show()

In [ ]:
corr_mat=df.corr()

corr_mat

In [ ]:
plt.figure(figsize=[22,12])
sns.heatmap(corr_mat,annot=True)
plt.title('correlation Matrix')
plt.show()

In [ ]:
corr_matrix=df.corr()
corr_matrix['W'].sort_values(ascending=False)

In [ ]:
df=df.drop('AB',axis=1)

In [ ]:
df=df.drop('E',axis=1)

In [ ]:
df=df.drop('H',axis=1)

In [ ]:
df=df.drop('CG',axis=1)

In [ ]:
corr_matrix=df.corr()
corr_matrix['W'].sort_values(ascending=False)

In [ ]:
x=df_new.iloc[:,:-1]
y=df_new.iloc[:,-1]

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier