In [1]:
imports pandas as pd

SyntaxError: invalid syntax (<ipython-input-1-f17ba4b47598>, line 1)

In [2]:
import pandas as pd

In [3]:
data=[1,2,3,4]
df= pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4

In [4]:
data=[['Alex', 10],['bob',20],['clark',40]]
df=pd.DataFrame(data)
df

       0   1
0   Alex  10
1    bob  20
2  clark  40

In [12]:
data= [['jin',5],['pen',6],['del',7]]
df=pd.DataFrame(data,columns=['Alex','Dev'])
print(df)

  Alex  Dev
0  jin    5
1  pen    6
2  del    7

In [14]:
data= [['j',4],['f',7],['k',8]]
df=pd.DataFrame(data,columns=('age','limit'),dtype=float)
print(df)

  age  limit
0   j    4.0
1   f    7.0
2   k    8.0

In [19]:
data={'Name':['TOM','Hack','Steve','clark'],'Age':[22,34,45,67]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0    TOM   22
1   Hack   34
2  Steve   45
3  clark   67

In [20]:
data= [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data,dtype=float)
print(df)

     a     b     c
0  1.0   2.0   NaN
1  5.0  10.0  20.0

In [21]:
data=[['alert','bert','dev','lent']]
df=pd.DataFrame(data)
df

       0     1    2     3
0  alert  bert  dev  lent

In [25]:
data=({'a':1,'b':2,'c':3},{'a':4,'b':6,'c':8,'m':9})
g=pd.DataFrame(data,index=['first','second'],dtype=float)
print(g)

          a    b    c    m
first   1.0  2.0  3.0  NaN
second  4.0  6.0  8.0  9.0

In [26]:
data=({'a':1,'b':2,'c':3},{'a':4,'b':6,'c':8,'m':9})
g=pd.DataFrame(data,dtype=float)
print(g)

     a    b    c    m
0  1.0  2.0  3.0  NaN
1  4.0  6.0  8.0  9.0

In [28]:
data=({'a':1,'b':2,'c':3},{'a':4,'b':6,'c':8,})
df1=pd.DataFrame(data,dtype=float)
data=({'a':1,'b':2,'c':3},{'a':4,'b':6,'c':8,'m':9})
df2=pd.DataFrame(data,dtype=float)
print(df1)
print('\n')
print(df2)

     a    b    c
0  1.0  2.0  3.0
1  4.0  6.0  8.0


     a    b    c    m
0  1.0  2.0  3.0  NaN
1  4.0  6.0  8.0  9.0

In [33]:
data=({'a':1,'b':2,'c':3},{'a':4,'b':6,'c':8,})
df1=pd.DataFrame(data,dtype=float)
df1

     a    b    c
0  1.0  2.0  3.0
1  4.0  6.0  8.0

In [37]:
data=({'a':1,'b':2,'c':3},{'a':4,'b':6,'c':8,})
df=pd.DataFrame(np.random.randn(4,4),columns=(['G','B','D','X'])
print(df)

SyntaxError: invalid syntax (<ipython-input-37-d1e996582b95>, line 3)